<mat-card>
  <form #createPostForm="ngForm" (submit)="onAddPost(createPostForm)">
    <mat-form-field color="accent">
      <input #title="ngModel" matInput name="title" ngModel placeholder="Title" required type="text">
      <mat-error *ngIf="title.invalid">Must enter a title</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-select placeholder="Category" ngModel #chosenCategory="ngModel" name="chosenCategory" required>
        <mat-option *ngFor="let choice of categories" [value]="choice.value">
          {{choice.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="chosenCategory.invalid">Must enter a category</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <textarea #content="ngModel" matInput name="content" ngModel placeholder="Description" required
                rows="6"></textarea>
      <mat-error *ngIf="content.invalid">Must enter a description</mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
