<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="posts.length > 0 && !isLoading" multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>{{post.title}}</mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <p>{{post.category}}</p>
    <mat-action-row>
      <a [routerLink]="['/edit', post.id]" mat-button mat-raised-button>EDIT</a>
      <button color="warn" mat-button mat-raised-button (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts <= 0 && !isLoading">No posts added yet</p>
